<div dir="ltr">
  <section class="design-surface">
    <canvas id="temp-canvas"></canvas>
    <canvas id="main-canvas"></canvas>
  </section>

  <!-- toolbox -->

  <section id="tool-box" class="tool-box">
    <canvas id="pencil-icon" width="88" height="88" title="{{ 'Pencil' | translate }}" style="padding:0px"></canvas>

    <canvas id="marker-icon" width="88" height="88" title="{{ 'Marker' | translate }}" style="padding:0px"></canvas>

    <canvas id="eraser-icon" width="88" height="88" title="{{ 'Erase_drawings' | translate }}"
      style="padding:0px"></canvas>
    <canvas id="text-icon" width="40" height="40" title="{{ 'Write_text' | translate }}"></canvas>
    <canvas id="image-icon" width="40" height="40" title="{{ 'Add_image' | translate }}"></canvas>

    <canvas id="pdf-icon" width="40" height="40" title="{{ 'Add_pdf' | translate }}"></canvas>

    <canvas id="drag-last-path" width="40" height="40" title="{{ 'Drag/move_last_path' | translate }}"></canvas>
    <canvas id="drag-all-paths" width="40" height="40" title="{{ 'Drag/move_all_paths' | translate }}"></canvas>

    <canvas id="line" width="40" height="40" title="{{ 'Draw_Lines' | translate }}"></canvas>
    <canvas id="arrow" width="40" height="40" title="{{ 'Draw_Arrows' | translate }}"></canvas>

    <canvas id="zoom-up" width="40" height="40" title="{{ 'Zoon-In' | translate }}"></canvas>
    <canvas id="zoom-down" width="40" height="40" title="{{ 'Zoom-Out' | translate }}"></canvas>

    <canvas id="arc" width="40" height="40" title="{{ 'Draw_Circle' | translate }}"></canvas>
    <canvas id="rectangle" width="40" height="40" title="{{ 'Rectangle' | translate }}"></canvas>
    <canvas id="quadratic-curve" width="40" height="40" title="{{ 'Quadratic_curve' | translate }}"></canvas>
    <canvas id="bezier-curve" width="40" height="40" title="{{ 'Bezier_curve' | translate }}"></canvas>

    <canvas id="undo" width="40" height="40" title="{{ 'Undo:_Remove_recent_shapes' | translate }}"></canvas>

    <canvas id="line-width" width="40" height="40" title="{{ 'Set_line-width' | translate }}"></canvas>
    <canvas id="colors" width="40" height="40"
      title="{{ 'Set_foreground_and_background_colors' | translate }}"></canvas>
    <canvas id="additional" width="40" height="40" title="{{ 'Extra_options' | translate }}"></canvas>
    <canvas id="snap" width="40" height="40" title="{{ 'Take_Snapshot' | translate }}"></canvas>
    <canvas id="clear" width="40" height="40" title="{{ 'Clear' | translate }}"></canvas>
    <canvas id="close" width="40" height="40" title="{{ 'Close' | translate }}"></canvas>
  </section>

  <!-- pdf -->

  <section id="pdf-page-container">
    <img id="pdf-prev" />
    <select id="pdf-pages-list"></select>
    <img id="pdf-next" />
    <img id="pdf-close" />
  </section>

  <!-- arc -->

  <section id="arc-range-container" class="arc-range-container">
    <input id="arc-range" class="arc-range" type="text" value="2" />
    <input type="checkbox" id="is-clockwise" checked="" class="allow-select" />
    <label for="is-clockwise">Clockwise?</label>
    <div class="arc-range-container-guide">Use arrow keys ↑↓</div>
  </section>

  <!-- generated code -->

  <section class="code-container">
    <textarea id="code-text" class="code-text allow-select"></textarea>
  </section>

  <section class="preview-panel" style="display: none">
    <div id="design-preview" class="preview-selected">Preview</div>
    <div id="code-preview">Code</div>
  </section>

  <!-- options -->

  <section id="options-container" class="options-container">
    <div>
      <input type="checkbox" id="is-absolute-points" checked="" />
      <label for="is-absolute-points">Absolute Points</label>
    </div>
    <div>
      <input type="checkbox" id="is-shorten-code" checked="" />
      <label for="is-shorten-code">Shorten Code</label>
    </div>
  </section>

  <!-- line-width -->

  <section id="line-width-container" class="context-popup">
    <label for="line-width-text">Line Width:</label>
    <input id="line-width-text" class="line-width-text" type="text" value="2" />

    <div id="line-width-done" class="btn-007">Done</div>
  </section>

  <!-- colors selector -->

  <section id="colors-container" class="context-popup colors-container">
    <div class="input-div">
      <label for="stroke-style">{{ "Stroke Style" | translate }}:</label>
      <input id="stroke-style" type="color" value="#6c96c8" />
    </div>

    <div class="input-div">
      <label for="fill-style">{{ "Fill Style" | translate }}:</label>
      <input id="fill-style" type="color" value="#ffffff" />
    </div>

    <div id="colors-done" class="btn-007">{{ "Done" | translate }}</div>
  </section>

  <!-- marker selector -->

  <section id="marker-container" class="context-popup colors-container">
    <div class="input-div">
      <label for="marker-stroke-style">Thickness:</label>
      <select id="marker-stroke-style" value="3">
        <option value="3">3</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="18">18</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="36">36</option>
        <option value="39">39</option>
        <option value="48">48</option>
        <option value="72">72</option>
      </select>
    </div>
    <div class="input-div" id="marker-color-container">
      <label for="marker-fill-style">Fill Color:</label>
      <div id="marker-selected-color"></div>
      <div id="marker-fill-colors" class="context-popup">
        <div class="top">
          <div id="marker-selected-color-2"></div>
          <input id="marker-fill-style" type="text" value="0082f5" />
        </div>
        <table id="marker-colors-list"></table>
      </div>
    </div>
    <div id="marker-done" class="btn-007">Done</div>
  </section>

  <!-- marker selector -->

  <!-- pencil selector -->

  <section id="pencil-container" class="context-popup colors-container">
    <div class="input-div">
      <label for="pencil-stroke-style">Thickness:</label>
      <select id="pencil-stroke-style">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="16">16</option>
        <option value="18">18</option>
        <option value="20">20</option>
        <option value="22">22</option>
        <option value="22">22</option>
        <option value="24">24</option>
        <option value="26">26</option>
        <option value="28">28</option>
        <option value="36">36</option>
        <option value="36">36</option>
        <option value="48">48</option>
        <option value="72">72</option>
      </select>
    </div>
    <div class="input-div" id="pencil-color-container">
      <label for="pencil-fill-style">Fill Color:</label>
      <div id="pencil-selected-color"></div>
      <div id="pencil-fill-colors" class="context-popup">
        <div class="top">
          <div id="pencil-selected-color-2"></div>
          <input id="pencil-fill-style" type="text" value="6699FF" />
        </div>
        <table id="pencil-colors-list"></table>
      </div>
    </div>

    <div id="pencil-done" class="btn-007">Done</div>
  </section>

  <!-- pencil selector -->

  <!-- copy paths -->

  <section id="copy-container" class="context-popup">
    <div>
      <input type="checkbox" id="copy-last" checked="" />
      <label for="copy-last">Copy last path</label>
    </div>
    <div style="margin-top: 5px">
      <input type="checkbox" id="copy-all" />
      <label for="copy-all">Copy all paths</label>
    </div>
  </section>

  <!-- additional controls -->

  <section id="additional-container" class="context-popup additional-container">
    <div>
      <label for="lineCap-select">Line Cap:</label>
      <select id="lineCap-select">
        <option>round</option>
        <option>butt</option>
        <option>square</option>
      </select>
    </div>

    <div>
      <label for="lineJoin-select">Line Join:</label>
      <select id="lineJoin-select">
        <option>round</option>
        <option>bevel</option>
        <option>miter</option>
      </select>
    </div>

    <div>
      <label for="globalAlpha-select">globalAlpha:</label>
      <select id="globalAlpha-select">
        <option>1.0</option>
        <option>0.9</option>
        <option>0.8</option>
        <option>0.7</option>
        <option>0.6</option>
        <option>0.5</option>
        <option>0.4</option>
        <option>0.3</option>
        <option>0.2</option>
        <option>0.1</option>
        <option>0.0</option>
      </select>
    </div>

    <div>
      <label for="globalCompositeOperation-select">globalCompositeOperation:</label>
      <select id="globalCompositeOperation-select">
        <option>source-atop</option>
        <option>source-in</option>
        <option>source-out</option>
        <option selected="">source-over</option>
        <option>destination-atop</option>
        <option>destination-in</option>
        <option>destination-out</option>
        <option>destination-over</option>
        <option>lighter</option>
        <option>copy</option>
        <option>xor</option>
      </select>
    </div>

    <div id="additional-close" class="btn-007">Done</div>
  </section>

  <!-- fade -->

  <div id="fade"></div>

  <!-- text font/family/color -->

  <div class="text-customization" id="textActionsItems">
    <!-- <select class="fontSelectUl"> -->
    <select class="fontSelectList">
      <option value="Arial">Arial</option>
      <option value="Arial Black">Arial Black</option>
      <option value="Comic Sans MS">Comic Sans MS</option>
      <option value="Courier New">Courier New</option>
      <option value="Georgia">Georgia</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Times New Roman">Times New Roman</option>
      <option value="Trebuchet MS">Trebuchet MS</option>
      <option value="Verdana">Verdana</option>
    </select>
    <span class="pipeLine"></span>
    <select class="fontSizeList">
      <option value="15">15</option>
      <option value="17">17</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="22">22</option>
      <option value="25">25</option>
      <option value="30">30</option>
      <option value="35">35</option>
      <option value="42">42</option>
      <option value="48">48</option>
      <option value="60">60</option>
      <option value="72">72</option>
    </select>
  </div>
</div>
<app-color-picker #pencilColor id="pencil-color-picker" [title]="'Pen'" (ColorSelected)="onPencilColorChanged($event)"
  (WidthSelected)="onPencilWidthChanged($event)"></app-color-picker>
<app-color-picker #markerColor id="marker-color-picker" [title]="'Marker'"
  (ColorSelected)="onMarkerColorChanged($event)" (WidthSelected)="onMarkerWidthChanged($event)"></app-color-picker>